/* shared styles */
@import url(https://fonts.bunny.net/css?family=mulish:400,700,800);

* {
    font-family: 'Mulish', sans-serif;
    padding: 0;
    width: auto;
    margin: 0;
    box-sizing: border-box;
}

.heading {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.paragraph {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: none;
}

/* header styles */
header {
    display: flex;
    margin-top: 53px;
}

.header {
    display: flex;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -10px;
    margin-left: 135px;
    margin-right: 135px;
}

.header div>img {
    max-width: 100%;
}

.header h1 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.header-travel {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.header-home {
    color: #FF5400;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}

/* nav styles */
nav ul {
    display: flex;
    list-style: none;
}

nav>ul>li {
    padding-left: 44px;

}

/* banner styles */
.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    background-position: center;
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 16px;
    text-align: center;
    margin: 0 auto;
}

#banner-title {
    color: #FFF;
    font-size: 64px;
    margin-top: 106px;
}

#banner-description {
    color: #FFF;
    margin-top: 24px;
    text-wrap: wrap;
    margin-left: 247px;
    margin-right: 247px;
    margin-bottom: 48px;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-form>form {
    display: flex;
}

.banner-input {
    height: 40px;
    width: 20%;
    border: none;
    border-radius: 8px;
    padding: 10px;
    outline: none;
}

.banner-phone {
    display: inline;
}

.banner-form {
    display: flex;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 106px;
}

input::placeholder {
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-left: 4px;
}

#banner-btn {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 700;
    justify-content: space-between;
    margin-top: 5px;
}

#search {
    width: 24px;
    height: 24px;
    padding-right: 8px;
}

#down-arrow {
    height: 24px;
    position: relative;
    right: 49px;
    top: 19px;
}

#banner-input-margin {
    margin-left: 26px;
}

/* popular section styles */
.popular-section {
    display: flex;
    margin-left: 135px;
    margin-top: 100px;
}

.popular-container {
    margin-right: 53px;
}

.popular-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 32px;
    margin-bottom: 24px;
}

.popular-list {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.popular-list>li {
    padding-top: 16px;
    padding-bottom: 24px;
}

.popular-closing {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.popular-img {
    margin-right: 135px;
}

/* destination styles */
.destination-container {
    margin-top: 100px;
}

#destination-heading {
    margin-bottom: 24px;
}

#destination-paragraph {
    margin-bottom: 48px;
}

.destination-container-img h3{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    margin-top: 140px;
}

.destination-container-img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    gap: 20px;
}

.grid-item-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/Rectangle\ 5.png'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item-2 {
    grid-column: 7/span 6;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/Rectangle\ 8.png'), lightgray -101px -108.075px / 135.253% 172.05%;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 1/span 1;
    border-radius: 16px;
}

.grid-item-3 {
    grid-column: 1/span 4;
    grid-row: 2/span 1;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/Rectangle\ 6.png'), lightgray 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item-4 {
    grid-column: 5/span 4;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/Rectangle\ 7.png'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item-5 {
    grid-column: 9/span 4;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/Rectangle\ 9.png'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item-6 {
    grid-column: 1/span 5;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/Rectangle\ 11.png'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item-7 {
    grid-column: 6/span 7;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/Rectangle\ 10.png'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* choose us styles */
.choose-us-container {
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}

.choose-us-reasons-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 135px;
    margin-right: 135px;
}

#choose-us-title {
    margin-bottom: 24px;
}

#choose-us-description {
    margin-bottom: 48px;
}

.choose-us-hotels {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    display: grid;
    grid-column: 1/span 6;
}

.choose-us-hotels>img {
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
}

.choose-us-hotels>h4 {
    margin-bottom: 16px;
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.best {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
    display: grid;
    grid-column: 7/span 6;
}

.price-guarantee {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-top: 20px;
    display: grid;
    grid-column: 3/span 9;
    grid-row: 2/span 2;
}

/* newsletter styles */
.newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#newsletter-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 40px;
}

#newsletter-description {
    width: 350px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
    margin-left: 40px;
}

.newsletter-form-container {
    margin-top: 48px;

}

.newsletter-form {
    margin-left: 40px;
    margin-bottom: 16px;
}

.newsletter-subscribe-form {
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 474px;
    height: 422px;
    margin-left: 135px;
}

.newsletter input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 393px;
    height: 52px;
    border: none;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
}

#subscribe {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    width: 393px;
    height: 52px;
    margin-left: 40px;
}

#off-btn {
    border-radius: 16px;
    background: #FF5400;
    width: 324px;
    height: 120px;
    transform: rotate(-24.628deg);
    position: relative;
    left: -370px;
    bottom: 120px;
}

#offer-web {
    transform: rotate(-4.628deg);
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

#offer-percent {
    transform: rotate(-4.628deg);
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

.travel-discount {
    display: flex;
}

#travel-discount-img {
    width: 672px;
    height: 422px;
    margin-left: 24px;
}

/* footer styles */
footer {
    margin-top: 100px;
    width: 100%;
    height: 702px;
    background: rgba(19, 19, 24, 0.05);
}

#social {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 910px;
    margin-right: 630px;
}

#rights {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

#footer-title {
    margin-top: 110px;
}

#footer-img {
    object-fit: cover;
    width: 40px;
    height: 46.673px;
    margin-top: 110px;
    margin-left: 700px;
}

#footer-description {
    margin-top: 15px;
}

@media (max-width: 640px) and (min-width: 240px) {
    #banner-title {
        color: #FFF;
        font-size: 22px;
        font-weight: 800;
        margin-top: 10px;
    }

    .paragraph {
        text-wrap: wrap;
    }

    #banner-description {
        display: flex;
        margin-left: 4px;
        margin-right: 4px;
    }

    .banner-container {
        display: flex;
        width: 287px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .heading {
        text-align: left;
        font-size: 20px;
        font-weight: 800;
    }
    .popular-section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
    }
    .popular-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 2px;
        width: auto;
    }
    .popular-description {
        width: 335px;
        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        width: auto;
        padding: 0;
        margin: 0;
    }







}